<div class="m-5">
  Bienvenido
  <hr />

  <div class="text-wrap text-break">
    {{ token }}
  </div>
  <br />
  <br />

  <div>
    <div class="d-grid gap-2 d-md-block">
      <button class="btn btn-danger" (click)="logout()">Salir</button>
      <button class="btn btn-primary" (click)="pruebas()">pruebs</button>
    </div>
  </div>

</div>
<!-- 
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div> -->